* {
    box-sizing: border-box;
}

body {
    font-family: Avenir;
    background-color: black;
    margin: 0;
}

.navbar-fixed {
    position: fixed;
    top: -(3em);
}

nav ul {
    overflow: hidden;
    background-color: darkslategray;
    list-style-type: none;
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
    /* box-shadow: 1px 2px 4px rgba(0, 0, 0, 1); */
}

nav ul li {
    display: block;
    margin: 0;
    float: right;
    text-align: center;
    padding: 13px 20px;
    border-left: 1px solid #FFF;
}

nav ul li a {
    text-decoration: none;
    color: white
}

#navbar-title {
    float: left;
    color: white;
    margin: auto;
    font-weight: normal;
    font-size: 30px;
    position: relative;
    top: 5px;
    left: 10px;
}

nav ul li:hover {
    background-color: lightslategray;
    color: black;
}

.row {
    display: flex;
    flex: flex-wrap;
}

#img-header {
    color: black;
    padding: 90px;
    background-image: url("japan.jpg");
    background-position: 65% 65%;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.side img {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
    box-shadow: inset -8px 0 10px -6px gray;
}

.main h1 {
  margin: 40px;
}

.main p {
  font-size: 25px;
  margin: 40px;
}

.portfolio {
    flex: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: inset 0 8px 10px -6px gray;
}

.portfolio h1 {
  margin: 40px;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }

    .side {
      box-shadow: inset 0 8px 10px -6px gray;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    nav ul li {
        float: left;
        width: 100%;
        border-left: 0px solid #FFF;
        border-top: 1px solid #FFF;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
        margin: 0;
        padding: px 10px px px;
    }

    #navbar-title {

    }
}
